body {
    width: 400px;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
}

div.header {
    background-color: #1D9BF0;
    color: white;
    justify-content: center;
    text-align: center;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img.icon {
    width: 20px;
    height: 20px;
}

